body {
    font-family: 'Inter', sans-serif;
    background-color: #F8F9FA;
    color: #212529;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 300px;
    max-height: 300px;
    width: 100%;
    max-width: 500px;
}

.tab-button.active {
    background-color: #53c7c5;
    color: #FFFFFF;
    border-color: #31dbcd;
}

.tab-button {
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
}

.tab-content {
    transition: opacity 0.3s ease-in-out;
}

.core-loop-step:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.core-loop-step {
    transition: all 0.3s ease-in-out;
}

.tech-icon {
    transition: transform 0.3s ease;
}

.tech-icon:hover {
    transform: scale(1.1);
}

.max-w-4xl {
    margin-top: 1.0rem !important; /* Reduz o espaço acima do conteúdo principal */
}


@media (min-width: 600px) {
    .max-w-4xl {
        margin-top: 1.5rem !important; /* Um pouco mais de espaço em telas maiores */
    }
}
